= render partial: '/shared/header'
.header-block
.side-contents
  .side-contents__top
    .restaurant-data
      .catch-copy
        = @restaurant.catchcopy
      .data
        .data--list
          .data--list__head
            店名：
          .data--list__text
            = @restaurant.shop_name
        .data--list
          .data--list__head
            場所：
          .data--list__text
            = @restaurant.address
        .data--list
          .data--list__head
            金額：
          .data--list__text
            = @restaurant.price
        .data--list
          .data--list__head
            人数：
          .data--list__text
            = @restaurant.capacity
        .data--list
          .data--list__head
            日付：
          .data--list__text
            = @restaurant.reserve_date.strftime("%Y/%m/%d")
        .data--list
          .data--list__head
            時間：
          .data--list__text
            = @restaurant.reserve_time.strftime("%H:%M")
      .comment
        .comment--title
          MEETERコメント
        .comment--text
          = @restaurant.comment
      .image_box
        = image_tag (@restaurant.images[0].image), class: "image_box__image"
  .double-line
  .side-contents__under
    .host
      .host__title
        主催者
      .host__data
        .host__data--avatar
          - if @host[0].avatar.attached?
            = image_tag @host[0].avatar, class: "host__data--avatar__image"
          - else 
            = image_tag "default.jpg", class: 'host__data--avatar__image'
        .host__data--name
          = @host[0].name
    .attender
      .attender__title
        参加者
      - if @restaurantuser.present?
      - @restaurantuser.each do |r_u|
        - attender = User.where(id: r_u.attender_id)
          .attender__data
            .attender__data--avatar
              - if attender[0].avatar.attached?
                = image_tag attender[0].avatar, class: "attender__data--avatar__image"
              - else
                = image_tag "default.jpg", class: 'attender__data--avatar__image'
            .attender__data--name
              = attender[0].name
.right-contents
  - if flash[:notice]
    %p.alart-message
      = flash[:notice]
  .message-contents
    .messages
      = render @messages
    .form-box
      = form_for [@restaurant, @message] do |f|
        .form-box__message
          = f.text_area :message, class: 'form-box__message__area', placeholder: 'メッセージを入力してください'
        .form-box__submit
          = f.submit '送信', class: 'form-box__submit__btn'