%header
  = link_to "meet-bar", root_path, class: "header-title"
  - if user_signed_in?
    %ul.header-list
      %li.header-list__logout
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-dark btn-sm"
      %li.header-list__user-data
        = link_to "アカウント情報", new_user_session_path, class: "btn btn-dark btn-sm"
  - else
    %ul.header-list
      %li.header-list__logout
        = link_to "ログイン", new_user_session_path, class: "btn btn-dark btn-sm"
      %li.header-list__user-data
        = link_to "アカウント作成", new_user_registration_path, class: "btn btn-dark btn-sm"