.sidebar
  .menu
    -if user_signed_in?
      .menu__user
        .menu__user--avatar
          - if current_user.avatar.attached?
            = image_tag current_user.avatar, class: 'avatar'
          -else
            = image_tag "default.jpg", class: 'avatar'
        .menu__user--user_name
          = link_to current_user.name, user_path(current_user), class: "show_link"
      .menu__form_link
        = link_to "MEETしよう！", new_restaurant_path, class: 'menu__form_link__btn'
      .menu__talk
        = render partial: '/shared/message_menu', collection: @message_restaurants , as: "restaurant"
    -# = render partial: '/shared/calendar'
