.contents__main-content
  .card
    .catch-copy
      = restaurant.catchcopy
    %ul.data
      %li.data--price
        店名：
        = restaurant.shop_name
      %li.data--price
        場所：
        = restaurant.address
      %li.data--price
        金額：
        = restaurant.price
      %li.data--capacity
        人数：
        = restaurant.capacity
      %li.data--date
        日付：
        = restaurant.reserve_date.strftime("%Y/%m/%d")
      %li.data--date
        時間：
        = restaurant.reserve_time.strftime("%H:%M")
    .comment
      .heading
        MEETERコメント
      .comment
        = restaurant.comment
    .image_box
      = image_tag (restaurant.images[0].image), class: "shop_image"
    - if user_signed_in?
      - if restaurant.host_id == current_user.id || UserRestaurant.exists?(attender_id: current_user.id, restaurant_id: restaurant.id)
        .reserved-menu
          .reserved-menu__text
            参加済
      - else
        - if restaurant.capacity + 1 > @userrestaurants
          = form_for restaurant do |f|
            - if UserRestaurant.exists?(restaurant_id: restaurant.id)
              - restaurant.users.each do |user|
                %input{name: "restaurant[attender_ids][]", type: "hidden", value: user.id }
            %input{name: "restaurant[attender_ids][]", type: "hidden", value: current_user.id }
            = f.submit "参加する", class: 'reserve-btn'
        - else
          .reserved-menu
            .reserved-menu__text
              募集終了