.contents__restaurant_box__main-content
  .card
    .catch-copy
      - if user_signed_in?
        - if restaurant.host_id == current_user.id || UserRestaurant.exists?(attender_id: current_user.id, restaurant_id: restaurant.id)
          = link_to restaurant.catchcopy, restaurant_messages_path(restaurant), class: "catch-copy__link"
        - else
          = restaurant.catchcopy
      - else
        = restaurant.catchcopy
    .data
      -# %li.data--price
      -#   店名：
      -#   = restaurant.shop_name
      .data--address
        .title
          場所：
        .text
          = restaurant.address
      -# %li.data--price
      -#   金額：
      -#   = restaurant.price
      .data--capacity
        人数：
        = restaurant.capacity
      .data--date
        日付：
        = restaurant.reserve_date.strftime("%Y/%m/%d")
      -# %li.data--date
      -#   時間：
      -#   = restaurant.reserve_time.strftime("%H:%M")
    .comment
      .comment__heading
        MEETERコメント
      .comment__text
        = restaurant.comment
    - if restaurant.image.attached?
      .image_box
        = image_tag restaurant.image, class: "shop_image"
    -else 
      = image_tag "noimage.jpg", class: 'shop_image'
    - if user_signed_in?
      - if restaurant.host_id == current_user.id || UserRestaurant.exists?(attender_id: current_user.id, restaurant_id: restaurant.id)
        .reserved-menu
          .reserved-menu__text
            参加済
      - else
        - if restaurant.capacity > UserRestaurant.where(restaurant_id: restaurant.id).count
          = form_for restaurant do |f|
            - if UserRestaurant.exists?(restaurant_id: restaurant.id)
              - restaurant.attender.each do |user|
                %input{name: "restaurant[attender_ids][]", type: "hidden", value: user.id }
            %input{name: "restaurant[attender_ids][]", type: "hidden", value: current_user.id }
            = f.submit "参加する", class: 'reserve-btn'
        - else
          .reserved-menu
            .reserved-menu__text
              募集終了