= render partial: '/shared/header'
.main_box
  = render partial: '/shared/sidebar'
  .contents
    - if Restaurant.exists?(reserve_date: params[:reserve_date])
      .h2
        = @reserve_date
        のMEET
      .contents__top-content
        .contents__top-content__text
          気になるMEETを見てみよう！
      .line
      = render @restaurants
    - else
      .show_title
        = @reserve_date
        のMEETはありません
