= render partial: '/shared/header'
.contents
  .contents__top
  .contents__main
    .show_box
      .title
        MEET詳細
    .line
    .restaurant_box
      .data.catch_copy
        .data__title_box
          .title
            キャッチコピー：
        .data__text_box
          .text
            = @restaurant.catchcopy
      .data.shop_name
        .data__title_box
          .title
            店名：
        .data__text_box
          .text
            = @restaurant.shop_name
      .data.address
        .data__title_box
          .title
            場所：
        .data__text_box
          .text
            = @restaurant.address
      .data.price
        .data__title_box
          .title
            金額：
        .data__text_box
          .text
            = @restaurant.price
      .data.capacity
        .data__title_box
          .title
            人数：
        .data__text_box
          .text
            = @restaurant.capacity
      .data.reserve_date
        .data__title_box
          .title
            日付：
        .data__text_box
          .text
            = @restaurant.reserve_date.strftime("%Y/%m/%d")
      .data.reserve_time
        .data__title_box
          .title
            時間：
        .data__text_box
          .text
            = @restaurant.reserve_time.strftime("%H:%M")
      .data.comment
        .data__title_box
          .title
            コメント：
        .data__text_box
          .text
            - if @restaurant.comment.blank?
              まだコメントが入力されていません。
            - else
              = @restaurant.comment
      .data.image
        .data__title_box
          .title
            MEET画像：
        .data__text_box
          .image_box
            - if @restaurant.image.attached?
              = image_tag @restaurant.image, class: "image_box__image"
            -else 
              = image_tag "noimage.jpg", class: 'image_box__image'
  .contents__btn
    - if user_signed_in?
      - if @restaurant.host_id == current_user.id || UserRestaurant.exists?(attender_id: current_user.id, restaurant_id: @restaurant.id)
        .contents__btn__reserved-menu
          .contents__btn__reserved-menu__text
            トークへ
          = link_to "", restaurant_messages_path(@restaurant), class: "contents__btn__reserved-menu__message-link"
      - else
        - if @restaurant.capacity > UserRestaurant.where(restaurant_id: @restaurant.id).count
          = form_for @restaurant do |f|
            - if UserRestaurant.exists?(restaurant_id: @restaurant.id)
              - @restaurant.attender.each do |user|
                %input{name: "restaurant[attender_ids][]", type: "hidden", value: user.id }
            %input{name: "restaurant[attender_ids][]", type: "hidden", value: current_user.id }
            = f.submit "参加する", class: 'edit_restaurant__reserve-btn'
        - else
          .contents__btn__noreserve-menu
            .contents__btn__noreserved-menu__text
              募集終了
  .contents__bottom